<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">
<title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
</head>
<body id="page-top" class="index">
	<div class="box-layout">
	<a href="javascript:" id="return-to-top"><i class="fa fa-angle-up"></i></a> <!--Bottom right - Tob Button-->
	<!--PreLoader-->
	<div id="preloader">
		<div class="preloader-container">
			<div class="pre-circle">
				<p>Please Wait...</p>
				<!-- Loader -->
				<span class="rotate double"></span>
				<div class="pre-logo">
				<img alt="" src="img/logo.png">
			</div>
		</div>
	</div>
	</div> <!--/PreLoader-->
<!-- nlpc container -->

<div class="container">
	 <!--row 1 -->
                        <div class="row">
                                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                    <img src="logo.png">
                                </div>
                                <br/><br/>
                                <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
                                        <br/>
                                <i class="fa fa-phone fa-2x"></i>&nbsp;<strong>08073737362,0128282</strong> <div class="pull-right"> <a href="#"><i class="fa fa-facebook fa-2x"></i></a>&nbsp;<a href="#"><i class="fa fa-google-plus fa-2x"></i></a>&nbsp;<a href="#"><i class="fa fa-linkedin-square fa-2x"></i></a>&nbsp;<a href="#"><i class="fa fa-twitter fa-2x"></i></a>&nbsp;<a href="#"><i class="fa fa-video-camera fa-2x"></i></a></div><!-- container for the icons -->
                                </div>
                        </div>
                        <!-- row 1 ends -->
                        <!--row 2 -->
                        <div class="row">
                                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                       
                                </div>
 
                                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                       
                                </div>
 
                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                        <a href="#">RSA Login</a>&nbsp;|
                                        <a href="#">Agent Login</a>&nbsp;|                                        
                                        <a href="#">SMS Enquiry</a>&nbsp;|
                                        <a href="#">Blog</a>
                                </div>
                        </div>
				<!-- row 2 ends -->
				 <!--row 3 -->
                        <div class="row">
                                <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                                       
                                </div>
 
                                <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
                                        <nav class="navbar navbar-default" role="navigation">
                                                <!-- Brand and toggle get grouped for better mobile display -->
                                                <div class="navbar-header">
                                                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                                                                <span class="sr-only">Toggle navigation</span>
                                                                <span class="icon-bar"></span>
                                                                <span class="icon-bar"></span>
                                                                <span class="icon-bar"></span>
                                                        </button>
                                                       <!-- <a class="navbar-brand" href="#">NLPC-PFA</a>-->
                                                </div>
                                       
                                                <!-- Collect the nav links, forms, and other content for toggling -->
                                                <div class="collapse navbar-collapse navbar-ex1-collapse">
                                                        <ul class="nav navbar-nav">
                                                              <!--  <li><a href="#">Home</a></li>-->
                                                                        <li class="dropdown">
                                                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">About Us <b class="caret"></b></a>
                                                                        <ul class="dropdown-menu">
                                                                        <li><a href="#">Who we Are</a></li>
                                                                        <li><a href="#">Our Core Values</a></li>
                                                                        <li><a href="#">Our Business Strategy</a></li>
                                                                        <li><a href="#">Meet Our Board</a></li>
                                                                        <li><a href="#">Meet Our Management Team</a></li>
                                                                        </ul>
                                                                        </li>
                                                                <li><a href="#">Services</a></li>
                                                                <li><a href="#">Financials</a></li>
                                                                <li><a href="#">Benefits</a></li>
                                                                <li><a href="#">Reach Us</a></li>
                                                                <li><a href="#">FAQs</a></li>                               
                                                             
                                                        </ul>
                                                       
                                                   
                                                </div><!-- /.navbar-collapse -->
                                        </nav>
                                </div>
                                <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                                       
                                </div>
 						<br/><br/><br/><br/>
 
                        </div>
                        <!-- row 4 ends here -->





                        <!- row 5 starts -->
                       <div class="row">
                       	<br/>
                       </div>
                       <!-- row 5 ends -->







                        <!--row 6 starts here-->
                      

<!--include body within here-->
    @RenderBody()
    <!--stop body here-->

<!--footer starts -->
<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<div class="panel panel-default">
						  <div class="panel-body">
								<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
									<strong>Quick Links</strong><br/>
								<br/>
								<a href="#">Fraud Alert</a><br/>
								<a href="#">Branch Offices</a><br/>
								<a href="#">Term of Use</a><br/>
								<a href="#">Feedback form</a><br/>
								</div>
								<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
									<br/>
									<br/>
						  	<a href="#">Downloads</a><br/>
						  	<a href="#">Reports</a><br/>
						  	<a href="#">Pension Act 2014</a><br/>
						  	<a href="#">Staff Login</a><br/>
						  </div>
						  <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
						  	<br/>
							<br/>
						  	<a href="#">Branch Contribution</a><br/>
						  	<a href="#">Approved form of return</a><br/>
						  	<a href="#">Benefits Administration</a><br/>
						  </div>
						  <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 hidden-xs">
						  	<strong>NLPC PFA LIMITED</strong>
						  	<br/>
						  	<i class="fa fa-envelope-o fa-2x"></i>
						  	<strong>customercare@nlpcpfa.com</strong>
						  	312A,<br/>
						  	Ikorodu road,Anthony,<br/>
						  	Lagos.<br/>
						  </div>

						  </div>
						  
						  <div class="panel-footer">
								<center><strong>Copyright 2015 © NLPC PFA LTD.</strong>|All Rights Reserved</center>
								<center><a href="#">Privacy policy</a> | <a href="">Terms of use</a> |<a href="">Data protection and Confidentiality</a> </center>


							</div>
					</div>
				</div>
			</div>

		</div>
<!--footer stops -->


</div>
<!-- nlpc container -->



<!-- javascript starts-->
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/otherscripts")
@RenderSection("scripts", required: false)
<!--javascript stops-->
</body>
</html>