<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">
<title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
</head>
<body id="page-top" class="index">
	<div class="box-layout">
	<a href="javascript:" id="return-to-top"><i class="fa fa-angle-up"></i></a> <!--Bottom right - Tob Button-->
	<!--PreLoader-->
	<div id="preloader">
		<div class="preloader-container">
			<div class="pre-circle">
				<p>Please Wait...</p>
				<!-- Loader -->
				<span class="rotate double"></span>
				<div class="pre-logo">
                    <img alt="logo" src="img/logo.png" style="margin-left: 95px; !important"/>
			</div>
		</div>
	</div>
	</div> <!--/PreLoader-->
<!-- nlpc container -->

<div class="container">
	 <!--row 1 -->
                        
                        <div class="row">
                                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                    <img src="logo.png">
                                </div>
                               
                                <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
                                        <br/>
                                <i class="fa fa-phone fa-2x"></i>&nbsp;<strong>08073737362,0128282</strong> <div class="pull-right"> <a href="https://www.facebook.com/nlpcpfa"><i class="fa fa-facebook fa-2x"></i></a>&nbsp;<a href="#"><i class="fa fa-google-plus fa-2x"></i></a>&nbsp;<a href="#"><i class="fa fa-linkedin-square fa-2x"></i></a>&nbsp;<a href="https://twitter.com/nlpcpfa"><i class="fa fa-twitter fa-2x"></i></a>&nbsp;<a href=@VirtualPathUtility.ToAbsolute(@Url.Action("gallery","Home"))><i class="fa fa-video-camera fa-2x"></i></a></div><!-- container for the icons -->
                                </div>
                        </div>
                        <!-- row 1 ends -->
                        <!--row 2 -->
                        <div class="row">
                                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                       
                                </div>
 
                                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                       
                                </div>
 
                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                    
                                    @*<a href=@VirtualPathUtility.ToAbsolute(@Url.Action("RSALogin","Home"))>RSA Login</a>&nbsp;| *@ 
                                    <a  data-toggle="modal" href='#modal-id'>RSA Login</a>&nbsp;|



                                    <div class="modal fade" id="modal-id">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                    <h4 class="modal-title">RSA Login</h4>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="form-group">
                                                        <label for="">Username</label>
                                                        <input type="text" class="form-control" id="" placeholder="Please enter your username">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="">Password</label>
                                                        <input type="password" class="form-control" id="" placeholder="">
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                                    <button type="button" class="btn btn-primary">Login</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>                                    
                                    <a href=@VirtualPathUtility.ToAbsolute(@Url.Action("faq","Home"))>SMS Enquiry</a>&nbsp;|
                                    <a href=@VirtualPathUtility.ToAbsolute(@Url.Action("locations","Home"))>Branch Offices</a>&nbsp;|
                                    @*<a href=@VirtualPathUtility.ToAbsolute(@Url.Action("faq","Home"))>Blog</a>*@
                                </div>
                        </div>
				<!-- row 2 ends -->
				 <!--row 3 -->
                        <div class="row">
                                <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                                       
                                </div>
 
                                <!--<div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">-->
                                        <div>
                                        <nav class="navbar navbar-default" role="navigation">
                                                <!-- Brand and toggle get grouped for better mobile display -->
                                                <div class="navbar-header">
                                                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                                                                <span class="sr-only">Toggle navigation</span>
                                                                <span class="icon-bar"></span>
                                                                <span class="icon-bar"></span>
                                                                <span class="icon-bar"></span>
                                                        </button>
                                                       <!-- <a class="navbar-brand" href="#">NLPC-PFA</a>-->
                                                </div>
                                       
                                                <!-- Collect the nav links, forms, and other content for toggling -->
                                                <div class="collapse navbar-collapse navbar-ex1-collapse">
                                                        <ul class="nav navbar-nav">
                                                            @*Remove Home page from the Index page...*@
                                                           @if (@ViewBag.Title !="Home Page")
                                                           {    <li><a href="/">Home</a></li>}
                                                                                             
                                                                        <li class="dropdown">
                                                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">About Us <b class="caret"></b></a>
                                                                        <ul class="dropdown-menu">
                                                                        <li><a href=@VirtualPathUtility.ToAbsolute(@Url.Action("About", "Home"))>Who we Are</a></li>
                                                                        <li><a href=@VirtualPathUtility.ToAbsolute(@Url.Action("missions","Home"))>Our Core Values</a></li>
                                                                        <li><a href=@VirtualPathUtility.ToAbsolute(@Url.Action("bizstrategy","Home"))>Our Business Strategy</a></li>
                                                                        <li><a href=@VirtualPathUtility.ToAbsolute(@Url.Action("board", "Home"))>Meet Our Board</a></li>
                                                                        <li><a href=@VirtualPathUtility.ToAbsolute(@Url.Action("mgtteam", "Home"))>Meet Our Management Team</a></li>
                                                                        </ul>
                                                                        </li>

                                                            <!--services start-->
                                                            <li class="dropdown">
                                                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Services <b class="caret"></b></a>
                                                                <ul class="dropdown-menu">
                                                                    <li><a href=@VirtualPathUtility.ToAbsolute(@Url.Action("pension", "Home" ))>Corporate Pension</a></li>
                                                                    <li><a href=@VirtualPathUtility.ToAbsolute(@Url.Action("individual", "Home"))>Individual Pensions Scheme(IPS)</a></li>
                                                                    <li><a href=@VirtualPathUtility.ToAbsolute(@Url.Action("cps", "Home"))>Contributory Pension Scheme</a></li>
                                                                    <li><a href=@VirtualPathUtility.ToAbsolute(@Url.Action("progwith", "Home"))>Program Withdrawal</a></li>
                                                                    <li><a href=@VirtualPathUtility.ToAbsolute(@Url.Action("pensiontypes","Home"))>Payment Types</a></li>
                                                                </ul>
                                                            </li>
                                                            <!--services end-->
                                                            <!--Financials -->
                                                            <li class="dropdown">
                                                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Financials <b class="caret"></b></a>
                                                                <ul class="dropdown-menu">
                                                                    <li><a href=@VirtualPathUtility.ToAbsolute(@Url.Action("fundmgrrpt", "Home"))>Fund Manager's Report</a></li>
                                                                    <li><a href=@VirtualPathUtility.ToAbsolute(@Url.Action("investport", "Home"))>Structure of Investment Portfolio</a></li>
                                                                    <li><a href=@VirtualPathUtility.ToAbsolute(@Url.Action("auditrep", "Home"))>Audited Report</a></li>
                                                                    <li><a href=@VirtualPathUtility.ToAbsolute(@Url.Action("feemgt", "Home"))>Fees</a></li>
                                                                </ul>
                                                            </li>
                                                            <!-- financials ends-->

                                                            <!--benefits start-->
                                                          
                                                          

                                                                
                                                                <li><a href=@VirtualPathUtility.ToAbsolute(@Url.Action("benadmin","Home"))>Benefits</a></li>

                                                            <!--benefits ends-->


                                                            <!--reach us-->
                                                            <li class="dropdown">
                                                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Reach Us<b class="caret"></b></a>
                                                                <ul class="dropdown-menu">
                                                                    <li><a href=@VirtualPathUtility.ToAbsolute(@Url.Action("locations", "Home"))>Who we Are</a></li>
                                                                    <li><a href=@VirtualPathUtility.ToAbsolute(@Url.Action("customercare", "Home"))>Our Core Values</a></li>
                                                               
                                                                </ul>
                                                            </li>
                                                            <!--reach us end-->


                                                            <!--faq starts-->
                                                                <li><a href=@VirtualPathUtility.ToAbsolute(@Url.Action("faq","Home"))>FAQs</a></li>                               
                                                             <!-- faq ends-->


                                                        </ul>
                                                       
                                                   
                                                </div><!-- /.navbar-collapse -->
                                        </nav>
                               <!--</div>--> 
                                <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                                       
                                </div>
 						<!-- <br/><br/><br/><br/>  -->  
 
                        </div>
                        <!-- row 4 ends here -->

                        <!--row 6 starts here-->
                      

<!--include body within here-->

    @RenderBody()
    <!--stop body here-->

<!--footer starts -->
<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<div class="panel panel-default">
						  <div class="panel-body">
								<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
									<strong>Quick Links</strong><br/>
								<br/>
                                    <a href=@VirtualPathUtility.ToAbsolute(@Url.Action("faq","Home"))>Fraud Alert</a><br/>
                                    <a href=@VirtualPathUtility.ToAbsolute(@Url.Action("faq","Home"))>Branch Offices</a><br/>
                                    <a href=@VirtualPathUtility.ToAbsolute(@Url.Action("faq","Home"))>Term of Use</a><br/>
                                    <a href=@VirtualPathUtility.ToAbsolute(@Url.Action("faq","Home"))>Feedback form</a><br/>
								</div>
								<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
									<br/>
									<br/>
                                    <a href=@VirtualPathUtility.ToAbsolute(@Url.Action("faq","Home"))>Downloads</a><br/>
                                    <a href=@VirtualPathUtility.ToAbsolute(@Url.Action("faq","Home"))>Reports</a><br/>
                                    <a href=@VirtualPathUtility.ToAbsolute(@Url.Action("faq","Home"))>Pension Act 2014</a><br/>
                                    <a href=@VirtualPathUtility.ToAbsolute(@Url.Action("faq","Home"))>Staff Login</a><br/>
						  </div>
						  <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
						  	<br/>
							<br/>
                  <a href=@VirtualPathUtility.ToAbsolute(@Url.Action("faq","Home"))>Branch Contribution</a><br/>
                  <a href=@VirtualPathUtility.ToAbsolute(@Url.Action("faq","Home"))>Approved form of return</a><br/>
                  <a href=@VirtualPathUtility.ToAbsolute(@Url.Action("faq","Home"))>Benefits Administration</a><br/>
						  </div>
						  <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 hidden-xs">
						  	<strong>NLPC PFA LIMITED</strong>
						  	<br/>
						  	<i class="fa fa-envelope-o fa-2x"></i>
						  	<strong>customercare@nlpcpfa.com</strong>
						  	312A,<br/>
						  	Ikorodu road,Anthony,<br/>
						  	Lagos.<br/>
						  </div>

						  </div>
						  
						  <div class="panel-footer">
								<center><strong>Copyright 2015 © NLPC PFA LTD.</strong>|All Rights Reserved</center>
								<center><a href=@VirtualPathUtility.ToAbsolute(@Url.Action("faq","Home"))>Privacy policy</a> | <a href=@VirtualPathUtility.ToAbsolute(@Url.Action("faq","Home"))>Terms of use</a> |<a href=@VirtualPathUtility.ToAbsolute(@Url.Action("faq","Home"))>Data protection and Confidentiality</a> </center>


							</div>
					</div>
				</div>
			</div>

		</div>
<!--footer stops -->


</div>
<!-- nlpc container -->



<!-- javascript starts-->
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/otherscripts")
@RenderSection("scripts", required: false)
<!--javascript stops-->
</body>
</html>