@{
    ViewBag.Title = "Home Page";
}
<div class="row">

  <!-- <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
	
</div><div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">--> 
    <div style="margin-left:1.5%!important;">
        <div id="carousel-id" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carousel-id" data-slide-to="0" class=""></li>
                <li data-target="#carousel-id" data-slide-to="1" class=""></li>
                <li data-target="#carousel-id" data-slide-to="2" class="active"></li>
            </ol>
            <div class="carousel-inner">
                <div class="item">
                    <img data-src="holder.js/900x500/auto/#777:#7a7a7a/text:First slide" alt="First slide" src="https://placehold.it/1160x450">
                    <div class="container">
                        <div class="carousel-caption">
                            <h1>Example headline.</h1>
                            <p>Note: If you're viewing this page via a <code>file://</code> URL, the "next" and "previous" Glyphicon buttons on the left and right might not load/display properly due to web browser security rules.</p>
                            <p><a class="btn btn-lg btn-primary" href="#" role="button">Learn More</a></p>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <img data-src="holder.js/900x500/auto/#666:#6a6a6a/text:Second slide" alt="Second slide" src="https://placehold.it/1160x450">
                    <div class="container">
                        <div class="carousel-caption">
                            <h1>Another example headline.</h1>
                            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                            <p><a class="btn btn-lg btn-primary" href="#" role="button">Sign Up</a></p>
                        </div>
                    </div>
                </div>
                <div class="item active">
                    <img data-src="holder.js/900x500/auto/#555:#5a5a5a/text:Third slide" alt="Third slide" src="https://placehold.it/1160x450">
                    <div class="container">
                        <div class="carousel-caption">
                            <h1>One more for good measure.</h1>
                            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                            <br/></br/>
                            <p><a class="btn btn-lg btn-primary" href="#" role="button">Register</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <a class="left carousel-control" href="#carousel-id" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
            <a class="right carousel-control" href="#carousel-id" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
        </div>
    </div>
<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
	
</div><!-- carousel column  ends here -->

</div>
<!-- row 6 ends here -->

<!-- ROW 6 STARTS HERE -->
<div class="row">
    <div class="container">
        <section id="tools">

            <!--<<h2 class="heading text-center wow fadeInDown animated animated" style="visibility: visible; animation-name: fadeInDown;" data-wow-delay="100ms" data-wow-duration="1500ms">span class="green">Tools</span> That Help You</h2>
            <p class="text-center platform">Our platform is used for help people to grow their success day by day</p>-->
            <div class="col-lg-3 col-md-3 col-sm-6 text-center wow zoomIn animated animated" style="visibility: visible;" data-wow-delay="100ms" data-wow-duration="1500ms">
                <div class="icon watch"><i class="fa fa-file-o"></i></div>
                <h3 class="icon-heading">Fund Manager's Report</h3>
                <p>Click the link below to find out more about our Fund management offerings.</p>
                <a class="btn btn-lg btn-icon" href=@VirtualPathUtility.ToAbsolute(@Url.Action("fundmgrrpt","Home"))>Read More</a>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 text-center wow zoomIn animated animated" style="visibility: visible;" data-wow-delay="100ms" data-wow-duration="1500ms">
                <div class="icon watch"><i class="fa fa-suitcase"></i></div>
                <h3 class="icon-heading">Investment Portfolio</h3>
                <p>The quality of where you invest has become a key part of your investment case.</p>
                <a class="btn btn-lg btn-icon" href=@VirtualPathUtility.ToAbsolute(@Url.Action("investport","Home"))>Read More</a>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 text-center wow zoomIn animated animated" style="visibility: visible;" data-wow-delay="100ms" data-wow-duration="1500ms">
                <div class="icon man"><i class="fa fa-money"></i></div>
                <h3 class="icon-heading">Unit Price</h3><br />
                <p>
                    RSA Unit Price : <strong>2.4608</strong> AS AT: 26/08/2015<br/>
                    RF Unit Price : <strong>1.9873</strong> AS AT: 26/08/2015
                </p>
                <a class="btn btn-lg btn-icon" href=@VirtualPathUtility.ToAbsolute(@Url.Action("auditrep","Home"))>Read More</a>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 text-center wow zoomIn animated animated" style="visibility: visible;" data-wow-delay="100ms" data-wow-duration="2000ms">
                <div class="icon man"><i class="fa fa-suitcase"></i></div>
                <h3 class="icon-heading">Audited Reports</h3>
                <p> We Strive to comply to regulatory standards.
                 For more our current audit report click the link below. </p>
                <a class="btn btn-lg btn-icon" href=@VirtualPathUtility.ToAbsolute(@Url.Action("auditrep","Home"))>Read More</a>
            </div>
        </section>
    </div>

</div>
<hr />

<div class="row">

    <div class=" col-sm-1 col-md-1 col-lg-1">

    </div>

    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
        <a href="#">Register with us&nbsp;</a>
    </div>

    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
        <a href="#">Remit Your Contributions</a>
    </div>

    <div class="col-xs-2 col-sm-3 col-md-3 col-lg-3">
        <a href="#">Newsletter Subscription</a>
    </div>

    <div class="col-xs-3 col-sm-2 col-md-2 col-lg-2">
        <a href="#">Complaints/Feedback</a>
    </div>
    <div class="col-sm-2 col-md-2 col-lg-2">

    </div>

</div>
<hr />
@*
        <div class="row">
        <div class="container">

            <section id="tools">

                <!--<<h2 class="heading text-center wow fadeInDown animated animated" style="visibility: visible; animation-name: fadeInDown;" data-wow-delay="100ms" data-wow-duration="1500ms">span class="green">Tools</span> That Help You</h2>
                <p class="text-center platform">Our platform is used for help people to grow their success day by day</p>-->
                <div class="col-lg-3 col-md-3 col-sm-6 text-center wow zoomIn animated animated" style="visibility: visible;" data-wow-delay="100ms" data-wow-duration="1500ms">
                    <div class="icon watch"><i class="fa fa-suitcase"></i></div>
                    <h3 class="icon-heading">Pension Calculator</h3>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting Lorem  industry Ipsum has been industry</p>
                    <a class="btn btn-lg btn-icon" href="#">Read More</a>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 text-center wow zoomIn animated animated" style="visibility: visible;" data-wow-delay="100ms" data-wow-duration="1500ms">
                    <div class="icon watch"><i class="fa fa-suitcase"></i></div>
                    <h3 class="icon-heading">Testimonials</h3>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting Lorem  industry Ipsum has been industry</p>
                    <a class="btn btn-lg btn-icon" href="#">Read More</a>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 text-center wow zoomIn animated animated" style="visibility: visible;" data-wow-delay="100ms" data-wow-duration="1500ms">
                    <div class="icon man"><i class="fa fa-money"></i></div>
                    <h3 class="icon-heading">Media Center</h3><br />
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting Lorem  industry Ipsum has been industry</p>
                    <a class="btn btn-lg btn-icon" href=@VirtualPathUtility.ToAbsolute(@Url.Action("gallery","Home"))>Read More</a>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 text-center wow zoomIn animated animated" style="visibility: visible;" data-wow-delay="100ms" data-wow-duration="2000ms">
                    <div class="icon man"><i class="fa fa-suitcase"></i></div>
                    <h3 class="icon-heading">Pencom Guidelines</h3>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting Lorem  industry Ipsum has been industry </p>
                    <a class="btn btn-lg btn-icon" href="#">Read More</a>
                </div>
            </section>
        </div>

    </div>
*@
